<div class="kindOf">
    <h2 id="title">Experience</h2>
    <div class="category">
        <div class="singleItem singleCat">
            cat1
        </div>
    </div>
    <div class="content">
        <div class="singleItem">
            con1
        </div>
    </div>
</div>

<div class="kindOf">
    <h2 id="title">Experience</h2>
    <div class="category">
        <div class="singleItem singleCat">
            cat1
        </div>
    </div>
    <div class="content">
        <div class="singleItem">
            con1
        </div>
    </div>
</div>