<!-- The Top Bar -->

<header id="topbar-wrapper">
  <div id="topbar" class="container d-flex align-items-center h-100">
    <a id="topbar-title" href="{{ '/' | relative_url }}">{{ site.title }}</a>

    <nav id="topbar-nav" aria-label="Primary">
      <a
        href="{{ '/' | relative_url }}"
        class="nav-link{% if page.layout == 'home' %} active{% endif %}"
        >Posts</a
      >
      {% for tab in site.tabs %}
        {% capture tab_name %}{{ tab.url | split: '/' }}{% endcapture %}
        <a
          href="{{ tab.url | relative_url }}"
          class="nav-link{% if tab.url == page.url %} active{% endif %}"
          >{{ tab_name | capitalize }}</a
        >
      {% endfor %}
    </nav>

    <div class="topbar-actions d-flex align-items-center ms-auto">
      <span id="search-wrapper" class="align-items-center">
        <i class="fas fa-search fa-fw"></i>
        <input
          class="form-control"
          id="search-input"
          type="search"
          aria-label="search"
          autocomplete="off"
          placeholder="{{ site.data.locales[include.lang].search.hint | capitalize }}..."
        >
      </span>
      <span id="search-cancel">{{ site.data.locales[include.lang].search.cancel }}</span>

      {% for entry in site.data.contact %}
        {% if entry.type == 'github' %}
          <a
            class="topbar-icon"
            href="https://github.com/{{ site.github.username }}"
            aria-label="github"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="{{ entry.icon }}"></i>
          </a>
        {% endif %}
      {% endfor %}

      {% unless site.theme_mode %}
        <button class="mode-toggle topbar-icon" aria-label="Switch Mode">
          <i class="fas fa-adjust"></i>
        </button>
      {% endunless %}

      <button id="search-trigger" class="topbar-icon" aria-label="search">
        <i class="fas fa-search fa-fw"></i>
      </button>
      <button id="sidebar-trigger" class="topbar-icon" aria-label="menu">
        <i class="fas fa-bars fa-fw"></i>
      </button>
    </div>
  </div>
</header>
