/*
 * The syntax light mode typography colors
 */

@mixin light-scheme {
  /* Framework color */
  --main-bg: #ffffff;
  --mask-bg: rgba(25, 31, 40, 0.24);
  --main-border-color: #f2f4f6;

  /* Common color */
  --text-color: #333d4b;
  --text-muted-color: #8b95a1;
  --heading-color: #191f28;
  --blockquote-border-color: #191f28;
  --blockquote-text-color: #4e5968;
  --link-color: #191f28;
  --link-underline-color: #d1d6db;
  --button-bg: #ffffff;
  --btn-border-color: #e5e8eb;
  --btn-backtotop-color: #686868;
  --btn-backtotop-border-color: #f1f1f1;
  --btn-box-shadow: #eaeaea;
  --checkbox-color: #c5c5c5;
  --checkbox-checked-color: #191f28;
  --img-bg: radial-gradient(
    circle,
    rgb(255, 255, 255) 0%,
    rgb(239, 239, 239) 100%
  );
  --shimmer-bg: linear-gradient(
    90deg,
    rgba(250, 250, 250, 0) 0%,
    rgba(232, 230, 230, 1) 50%,
    rgba(250, 250, 250, 0) 100%
  );

  /* Navigation */
  --nav-muted-color: #6b7684;
  --nav-active-color: #191f28;
  --nav-hover-bg: #f2f4f6;

  /* Topbar */
  --topbar-bg: rgba(255, 255, 255, 0.85);
  --topbar-text-color: #4e5968;
  --search-wrapper-border-color: #e5e8eb;
  --search-tag-bg: #f2f4f6;
  --search-icon-color: #8b95a1;
  --input-focus-border-color: #191f28;

  /* Home page */
  --post-list-text-color: #6b7684;
  --btn-patinator-text-color: #555555;
  --btn-paginator-hover-color: #f2f4f6;
  --btn-paginator-border-color: #f2f4f6;
  --btn-text-color: #676666;

  /* Posts */
  --toc-highlight: #191f28;
  --btn-share-hover-color: var(--link-color);
  --card-bg: white;
  --card-hovor-bg: #e2e2e2;
  --card-shadow: rgb(104, 104, 104, 0.05) 0 2px 6px 0,
    rgba(211, 209, 209, 0.15) 0 0 0 1px;
  --label-color: #616161;
  --relate-post-date: rgba(30, 55, 70, 0.4);
  --footnote-target-bg: #f2f4f6;
  --tag-bg: #f2f4f6;
  --tag-border: #e5e8eb;
  --tag-shadow: var(--btn-border-color);
  --tag-hover: #e5e8eb;
  --tb-odd-bg: #f9fafb;
  --tb-border-color: #e5e8eb;
  --dash-color: silver;
  --kbd-wrap-color: #bdbdbd;
  --kbd-text-color: var(--text-color);
  --kbd-bg-color: white;
  --prompt-text-color: rgb(46, 46, 46, 0.77);
  --prompt-tip-bg: rgb(123, 247, 144, 0.2);
  --prompt-tip-icon-color: #03b303;
  --prompt-info-bg: #e1f5fe;
  --prompt-info-icon-color: #0070cb;
  --prompt-warning-bg: rgb(255, 243, 205);
  --prompt-warning-icon-color: #ef9c03;
  --prompt-danger-bg: rgb(248, 215, 218, 0.56);
  --prompt-danger-icon-color: #df3c30;

  [class^='prompt-'] {
    --link-underline-color: rgb(219, 216, 216);
  }

  .dark {
    display: none;
  }

  /* Categories */
  --categories-border: rgba(0, 0, 0, 0.125);
  --categories-hover-bg: var(--btn-border-color);
  --categories-icon-hover-color: darkslategray;

  /* Archive */
  --timeline-color: rgba(0, 0, 0, 0.075);
  --timeline-node-bg: #b0b8c1;
  --timeline-year-dot-color: #ffffff;
} /* light-scheme */
