---
layout: page
# All the Tags of posts.
---

{% comment %} Sort tags by post count: "0025|java" strings sort lexicographically {% endcomment %}
{% assign tag_keys = '' | split: '' %}
{% for t in site.tags %}
  {% assign count = t[1] | size | prepend: '0000' | slice: -4, 4 %}
  {% assign key = count | append: '|' | append: t[0] %}
  {% assign tag_keys = tag_keys | push: key %}
{% endfor %}
{% assign tag_keys = tag_keys | sort | reverse %}

<div id="tags">
  <p class="taxonomy-summary">{{ site.tags | size }}개의 태그 · 글이 많은 순</p>

  <ul class="tag-cloud">
    {% for key in tag_keys %}
      {% assign parts = key | split: '|' %}
      {% assign name = parts | last %}
      <li>
        <a class="tag" href="{{ name | slugify | url_encode | prepend: '/tags/' | append: '/' | relative_url }}">
          <span class="tag-name">#{{ name }}</span>
          <span class="tag-count">{{ parts | first | plus: 0 }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
